# Compilados
out/
*.class

# Pacotes
*.jar
*.war
*.ear
!lib/*.jar

# Logs
*.log

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
*.code-workspace
.project
.classpath
.settings/
nbproject/

# Sistema operacional
.DS_Store
Thumbs.db

# Dados gerados em tempo de execução
data/*.json
